<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gizmo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Read Workspace</h1>
    <form th:object="${workspace}">
        <label for="id">Id</label>
        <input type="text" th:field="*{id}" id="id" disabled="disabled"/>
        <label for="user">User</label>
        <input type="text" th:field="*{user}" id="user" disabled="disabled"/>
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" disabled="disabled"/>
    </form>
    <a th:href="@{'../update/' + ${workspace.getId()}}">Update</a>
    <form th:action="@{'../delete/' + ${workspace.getId()}}" method="post">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>
