<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div class="container text-right">
        Copyright doesn't exist. 2019
    </div>
    <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.equalheights.min.js" th:src="@{/js/jquery.equalheights.min.js}"></script>
    <script type="text/javascript" src="../static/js/gizmo.js" th:src="@{/js/gizmo.js}"></script>
</footer>

</html>
