<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gizmo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div th:insert="fragments/navbar.html :: header">...</div>
<div id="main" class="container">
    <div th:if="${exist}">
        <p>
            HEY! User with mail <span th:text="${existingMail}"></span> already exist. You should login.
        </p>
    </div>
    <div th:if="${welcomeMessage}">
        <p th:text="'Hello, ' + ${welcomeMessage} + '!!!!!'"></p>
    </div>
</div>
<footer>
    <div class="container text-right">
        Copyright doesn't exist. <span th:text="${currentYear}"/>
    </div>
    <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>

</footer>

</body>
</html>
