<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gizmo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
</head>
<body>
<header>
    <div class="container text-center">
        <h1>GIZMO</h1>
    </div>
</header>
<div id="main" class="container">
    <p th:text="'Hello, ' + ${name} + '!!!!!'"/>
</div>
<footer>
    <div class="container text-right">
        Copyright doesn't exist. <span th:text="${currentYear}"/>
    </div>
</footer>

</body>
</html>
