header {
    nav {
        background-image: linear-gradient(rgb(38, 38, 38), transparent);
        a {
            color: $lightGrey;
            &:hover {
                color: $grey;
            }
        }
        input[type="submit"] {
            border: none;
            background: transparent;
            text-transform: uppercase;
            color: $lightGrey;
            &:hover {
                color: $grey;
            }
        }
    }
}
